# Project exclude paths
/bin/
*.DS_Store
*.zip
/bin/
data/saves/logs/
data/saves/construction/
data/minimes/
data/saves/clans/
data/saves/characters/
data/shops/
data/groupironman
data/logs/referrals


